@import "./lib/bootstrap-sass/assets/stylesheets/_bootstrap.scss"
@import retina-images
@import web-fonts
@import font-size


$dark-teal: #002b36
$dark-teal-faded: #4d6b73


html
	background-color: black
	font-size: 62.5%

body	
	font-family: 'PT Sans', sans-serif

header
	width: 100%
	height: 50px

	a:hover
		text-decoration: none

	.navbar
		@media screen and (min-width: $screen-sm)
			float: right

	.navbar-nav
		border: 0
		background-color: transparent
		height: inherit

		li
			background-color: white

	.navbar-default
		border: none
		background-color: transparent

	.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text
		color: $dark-teal
		font-weight: bold
		@include font-size(1.5)

	#header-branding
		float:left
		color: $dark-teal
		font-weight: bold
		line-height: 50px
		@include font-size(1.5)

		span
			margin-left: 20px

		#header-branding-title
			color: $dark-teal-faded


.full-width
	width: 100%






		




