head
		title= "Welcome!"
		link(rel='stylesheet',href='css/main.css')
		script(language='javascript', src='js/main.js')
		script(language='javascript', src='js/libs.js')
		meta(content='width=device-width, initial-scale=1.0, user-scalable=no', name='viewport')