head
	title= "Brady O'Halloran is a Giant Nerd"
	link(rel='stylesheet',href='css/main.css')
	link(rel='canonical', href='http://www.bradyohalloran.com/')
	script(language='javascript', src='js/libs.js')
	script(language='javascript', src='js/main.js')
	meta(content='Brady O\'Halloran is a developer/creative tech guy from Sydney, Australia. He likes to build smart, clean sites and applications that work.', name='description')
	meta(property='og:image' content='http://www.bradyohalloran.com/images/site-image.png')
	meta(property='og:title' content='Brady O\'Halloran is a Giant Nerd.')
	meta(property='og:url' content='http://www.bradyohalloran.com/')
	meta(property='og:description' content='Brady O\'Halloran is a developer/creative tech guy from Sydney, Australia. He likes to build smart, clean sites and applications that work.')
	meta(content='width=device-width, initial-scale=1.0, user-scalable=no', name='viewport')
