doctype html
html(lang="en")
	include head.jade
	body
		header
			div(class='full-width')
				div(class='header-branding')
					a(id='header-branding' href='#') 
						span(id='header-branding-name').
							BRADY O'HALLORAN
						span(id='header-branding-title').
							CREATIVE/TECH GUY
				nav(class='navbar navbar-default', role='navigation')
					div(class='container-fluid')
						div(class='navbar-header')
							button(type='button', class='navbar-toggle collapsed', data-toggle='collapse' data-target='#header-menu')
								span(class='sr-only') Toggle navigation
								span(class='icon-bar')
								span(class='icon-bar')
								span(class='icon-bar')

						div(class='collapse navbar-collapse' id='header-menu')
							ul(class='nav navbar-nav')
								li
									a(href='#') ABOUT ME
								li
									a(href='#') EXPERIENCE
								li
									a(href='#') WORK
								li
									a(href='#') CONTACT

		div(id='feature-1', class='feature')
			div(class='feature-image')
				div(class='feature-image-headline')
					- var headline='Brady O\'Halloran is a giant nerd.'
					div(class='feature-image-headline-text') #{headline}
					div(class='feature-image-headline-shadow') #{headline}
			div(class='feature-copy')
				div(class='feature-copy-inner')
					:markdown
						#I like to make cool things with computers and occasionally talk about myself in the third-person.
						
						You know what you said about the structures becoming shackles. You were right and I can't take it, the injustice. I mean, no one ever's gonna know who saved the entire city.
						
						It means you're hatred, and it also means losing someone, who I've cared for since I first heard his cries echoing through this house. But it might also mean saving your life. And that is more important.
						
						There you are! There is nothing to fear but fear itself!
						
						Do I really look like a guy with a plan?
						
						But a man who doesn't care about the world doesn't spend half his fortune on a plan to save it. And isn't so wounded when it fails that he goes into hiding.
						
						You should use your full name. I like that name, Robin.

		div(id='feature-2', class='feature')
			div(class='feature-image')
				div(class='parallax-bg')
				div(class='feature-image-headline') 
					- var headline='I worked at Amnesia / Razorfish Australia for the last fifteen years.'
					div(class='feature-image-headline-text') #{headline}
					div(class='feature-image-headline-shadow') #{headline}

			div(class='feature-copy')
				div(class='feature-copy-inner')
					:markdown
						#In that time I worked on dozens of projects for major international clients as a <div id='text-roller'></div>

						Over fifteen years I saw Amnesia grow from a small team of about a dozen, into what it is today as Razorfish Australia. Though I’ve been at ostensibly the same company over that period, my role has constantly changed as the projects got bigger, crazier and more ambitious.

						Though initially starting as a Senior Designer, I quickly moved into other roles including:					

						* <i class="fa fa-paint-brush"></i>Design
						* <i class="fa fa-youtube-play"></i>Motion-design
						* <i class="fa fa-play-circle"></i>Video editing
						* <i class="fa fa-cube"></i>3D modeling
						* <i class="fa fa-html5"></i>Front-end development
						* <i class="fa fa-server"></i>Back-end development
						* <i class="fa fa-bolt"></i>Flash development
						* <i class="fa fa-mobile"></i>Mobile development
						* <i class="fa fa-users"></i>Team leadership
						* <i class="fa fa-clock-o"></i>Project management
						* <i class="fa fa-magic"></i>Creative technology
						* <i class="fa fa-lightbulb-o"></i>Creative direction
						* <i class="fa fa-comment"></i>Client relations
						* <i class="fa fa-server"></i>Server administration
						* <i class="fa fa-wrench"></i>On-site installation
						* <i class="fa fa-puzzle-piece"></i>Trouble-shooting

						<br/>Over fifteen years I saw Amnesia grow from a small team of about a dozen, into what it is today as Razorfish Australia. Though I’ve been at ostensibly the same company over that period, my role has constantly changed as the projects got bigger, crazier and more ambitious.












		include scripts.jade






		