doctype html
html(lang="en")
	include head.jade
	body
		header
			div(class='full-width')
				div(class='header-branding')
					a(id='header-branding' href='#') 
						span(id='header-branding-name').
							BRADY O'HALLORAN
						span(id='header-branding-title').
							CREATIVE/TECH GUY
				nav(class='navbar navbar-default', role='navigation')
					div(class='container-fluid')
						div(class='navbar-header')
							button(type='button', class='navbar-toggle collapsed', data-toggle='collapse' data-target='#navbar-collapsed')
								span(class='sr-only') Toggle navigation
								span(class='icon-bar')
								span(class='icon-bar')
								span(class='icon-bar')

						div(class='collapse navbar-collapse' id='navbar-collapsed')
							ul(class='nav navbar-nav')
								li
									a(href='#') ABOUT ME
								li
									a(href='#') EXPERIENCE
								li
									a(href='#') WORK
								li
									a(href='#') CONTACT
		div(id='feature-image-area-1', class='feature-image-area')
			div(class='feature-image-headline') BRADY O'HALLORAN IS A GIANT NERD.
		include scripts.jade






		