doctype html
html(lang="en")
	head
		title= "Welcome!"
		link(rel='stylesheet',href='css/main.css')
		script(language='javascript', src='js/main.js')
		script(language='javascript', src='js/libs.js')
	body
		nav(class='navbar navbar-default', role='navigation')
			div(class='container-fluid')
				div(class='navbar-header')
					button(type='button', class='navbar-toggle collapsed', data-toggle='collapse' data-target='#navbar-collapsed')
						span(class='sr-only') Toggle navigation
						span(class='icon-bar')
						span(class='icon-bar')
						span(class='icon-bar')



					a(class='navbar-title' href='#') Brady O'Halloran




				div(class='collapse navbar-collapse' id='navbar-collapsed')
					ul(class='nav navbar-nav navbar-right')
						li
							a(href='#') About Me
						li
							a(href='#') Experience
						li
							a(href='#') Work
						li
							a(href='#') Contact






		