doctype html
html(lang="en")
	head
		title= "Welcome!"
		link(rel='stylesheet',href='css/main.css')
		script(language='javascript', src='js/main.js')
	body
		nav(id='nav')
		p this is happening people!